# ID con el que se va a identificar PAHO
MQTT_CLIENT=${}
# URL del broker
MQTT_BROKER_URL=${}
# Puerto del broker
MQTT_BROKER_PORT=${}
#Crendenciales del broker
MQTT_USER_NAME=${}
MQTT_USER_PASS=${}
# Nombre de topics para cada magnitud
TOPIC_ACCELERATION=${}
TOPIC_TEMPERATURE=${}
TOPIC_MAGNETIC_FIELD=${}
TOPIC_HUMIDITY=${}
TOPIC_PRESSURE=${}
# Cuántas veces se va a reintentar la conexión
RETRIES=${}

# Dispositivos que considero para conectarme
ALLOWED_DEVICES=${nombre1}(, ${nombre2}, ${nombre3}...)
